strong,b {
    font-weight: bold;
}


#header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    max-width: 1260px;
    margin: auto;
    background: radial-gradient(ellipse closest-corner at 30% 50%, #fcfcfc, #d4d2d2);
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.header-firstline {
    overflow: hidden;
}

p {
    text-align: justify;
}

p img {
    margin: 5px 3px 5px 3px;
}

.logos-box {
    float: left;
    margin: 0.25em 0 0.25em 4em;
}

.logos-both {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-top: 0.35em;
}

#pagewrap {
    width: 960px;
    max-width: 94%;
    margin: 30px auto 0;
}

#nav {
    margin: 0.5em auto 0 auto;
    padding: 0.2em 0;
}

.logos-box {
    float: left;
    margin: 0.25em 0 0.25em 4em;
}

#menu ul {
    display: block;
    margin-top: 8px;
    margin-right: 5px;
    padding-left: 0;
    list-style: none;
    float: right;
    height: 20px;
    line-height: 25px;    
}


#nav li a {
    color: #474343;
    text-transform: uppercase;
    text-decoration: none;
}

#nav li {
    margin-left: 25px;
    transition: .5s linear;
    list-style: none;
    float: left;
    margin-right: 5px;
    position: relative;
}

#nav li a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0.01em;
    background: #5a5a5a;
    transition: all 0.5s linear;
}

#nav li a:hover:after {
    width: 100%;
}

#contacts {
    float: right;
    margin: 0.5em 0.5em 0.5em 0;
    display: flex;
    align-items: center;
}

#contacts a {
    color: #000;
    text-decoration: none;
}

.cmmail {
    margin-right: 36px;
    font-size: 1.5em;
}

.cmphon {
    font-size: 2em;
    margin-right: 40px;
}

.cphon_pref {
    margin-right: 9px;
}

.cmphon,
.cmmail,
.logos-both {
    text-shadow: 1px 1px 5px #515151;
}



.callback {
    display: inline-block;
    color: black;
    font-size: 125%;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .25em .5em;
    outline: none;
    border: 1px solid rgb(250, 172, 17);
    border-radius: 7px;
    background: rgb(255, 212, 3) linear-gradient(rgb(255, 212, 3), rgb(248, 157, 23));
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, 0);
    transition: box-shadow .2s, border-color .2s;
}

.callback:hover {
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0), inset 0 1px 2px rgba(0, 0, 0, 0), inset 0 0 0 60px rgba(255, 255, 0, .5);
}

/*ХЛЕБНЫЕ КРОШКИ*/

#path {
    font-family: Arial,sans-serif;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 23px;
    padding-left: 10px;
    max-width: 1260px;
}

#path a {
    text-decoration: none;
    color: #126893;
}

#path .path_arrow {
    margin: 0 7px
}


/*
 * Подвал
 */

@media screen and (max-width:599px) {
    
    /*ПОДВАЛ*/
    #footer {
        width: 100%;
        position: absolute;
        background: url(/images/footer_img.png) no-repeat, linear-gradient(to top, #626262, #eae8e8);
        background-position: 50% top;
    }
    #tripple,
    .up-od {
        position: relative;
        width: 100%;
    }
    #up {
        float: left;
        margin-left: 1em;
    }
    #od-chtz {
        font-size: .8em;
        font-weight: bolder;
        text-shadow: 1px 1px 3px white;
    }
    #foot-menu {
        position: relative;
        width: 100%;
    }
    #foot-menu-col2 ul,
    #foot-menu-col1 ul {
        display: none;
    }
    #foot-kompany {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #up,
    #od-chtz,
    .foot-kompany-address {
        background-image: linear-gradient(to bottom, rgba(234, 232, 232, 0), rgba(250, 250, 250, 1), rgba(234, 232, 232, 0));
    }
    .foot-get-button {
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        float: right;
        box-shadow: 1px 1px 3px #000000;
    }
    #foot-get {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot-get-phone,
    .foot-get-name {
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        line-height: 30px;
        margin-bottom: 5px;
        padding: 0 18px;
        box-shadow: 1px 1px 3px #000000;
    }
    .foot-get-msg {
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        box-shadow: 1px 1px 3px #000000;
    }
    #footer input[type=text],
    #footer textarea {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        width: 17em;
        border: none;
        padding: 0;
        resize: none;
        margin: 5px 0;
    }
    #footer textarea {
        height: 6em;
    }
}

@media screen and (min-width:600px) {
    
    /*ПОДВАЛ*/
    #tripple {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .foot-get-button {
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        float: right;
        box-shadow: 1px 1px 3px #000000;
    }
    #foot-get {
        margin-right: 1em;
    }
    .foot-get-phone,
    .foot-get-name {
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        line-height: 30px;
        margin-bottom: 5px;
        padding: 0 18px;
        box-shadow: 1px 1px 3px #000000;
    }
    .foot-get-msg {
        border: 1px solid #ccc;
        border-radius: 3px;
        display: block;
        box-shadow: 1px 1px 3px #000000;
    }
    .foot-get-button:hover,
    .foot-get-phone:hover,
    .foot-get-msg:hover,
    .foot-get-name:hover {
        box-shadow: none;
    }
    #footer input[type=text],
    #footer textarea {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        width: 17em;
        border: none;
        padding: 0;
        resize: none;
        margin: 10px 0;
    }
    #footer textarea {
        height: 6em;
    }
}

@media screen and (min-width:1141px) {
    
    /*ПОДВАЛ*/
    #up {
        margin-left: 5em;
    }
    #up-od {
        width: 20%;
    }
    #foot-kompany img {
        margin-left: 2em;
    }
    .foot-kompany-name {
        font-size: 1.5em;
        font-weight: bolder;
    }
    .foot-kompany-address {
        margin-left: 4em;
    }
    .foot-kompany-phone {
        font-size: 2em;
        margin-left: 30%;
    }
    #footer {
        background: url(/images/footer_img.png) no-repeat, linear-gradient(to top, #626262, #eae8e8);
        background-position: 85% top;
    }
    #foot-menu {
        margin-right: 13em;
    }
    #logos-box {
        margin: 0.25em 0 0.25em 4em;
    }
}

@media screen and (min-width:600px) and (max-width:1140px) {
    
    /*ПОДВАЛ*/
    #footer {
        background: url(/images/footer_img.png) no-repeat, linear-gradient(to top, #626262, #eae8e8);
        background-position: 50% top;
    }
    #foot-menu {
        width: 10%;
    }
    #foot-menu-col1 li,
    #foot-menu-col2 li {
        display: none;
    }
    .up-od {
        width: 40%;
    }
    #up img {
        position: 0 0;
        width: 3em;
    }
    #od-chtz p {
        float: left;
        font-size: .5em;
    }
    #up {
        margin-left: 1em;
    }
    #foot-kompany img {
        margin-left: 1em;
    }
    .foot-kompany-name,
    .foot-kompany-phone {
        font-size: 1em;
    }
    .foot-kompany-address {
        margin-left: 2em;
    }
    .foot-kompany-name,
    .foot-kompany-address {
        font-weight: bold;
    }
    .foot-kompany-phone,
    .foot-kompany-address,
    #od-chtz p {
        background-image: linear-gradient(to bottom, rgba(234, 232, 232, 0), rgba(250, 250, 250, 1), rgba(234, 232, 232, 0));
    }
}



#footer {
    overflow: hidden;
    max-width: 1260px;
    margin: auto;
    font-family: Arial, sans-serif;
}

#counters {
    display: none;
}

#up img:hover {
    background-color: #bab8b5;
}

#od-chtz p {
    margin-left: .5em;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.5em;
}

#foot-menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1em;
    text-shadow: 1px 1px 2px white;
    font-size: smaller;
}

#foot-menu ul {
    list-style: none;
}

#foot-menu li a {
    color: #474343;
    text-decoration: none;
}

.main-foot-menu {
    text-transform: uppercase;
    margin: .8em 0;
    font-weight: 700;
}

.sub-foot-menu {
    margin: .4em .7em;
}

.main-foot-menu:hover,
.sub-foot-menu:hover {
    text-shadow: none;
}

#foot-kompany {
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.foot-kompany-logo-name a {
    display: flex;
    align-items: center;
    color: #E99007;
}

.foot-kompany-name {
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

.foot-kompany-address {
    text-shadow: none;
}

.foot-kompany-phone {
    text-shadow: 1px 1px 3px white;
    font-weight: bolder;
    margin-right: 1em;
    background-image: linear-gradient(to bottom, rgba(234, 232, 232, 0), rgba(250, 250, 250, 1), rgba(234, 232, 232, 0));
}

.hod-success_hide {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
    padding: 5px 20px;
    cursor: pointer;
}

.hod-success_hide:hover {
    background-color: rgb(155, 155, 155);
}