/**
 * Сборо стилей только для содержимого .content
*/

.content {
  /* HTML5 display-role reset for older browsers */
}
.content html,
.content body,
.content div,
.content span,
.content applet,
.content object,
.content iframe,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content blockquote,
.content pre,
.content a,
.content abbr,
.content acronym,
.content address,
.content big,
.content cite,
.content code,
.content del,
.content dfn,
.content em,
.content img,
.content ins,
.content kbd,
.content q,
.content s,
.content samp,
.content small,
.content strike,
.content strong,
.content sub,
.content sup,
.content tt,
.content var,
.content b,
.content u,
.content i,
.content center,
.content dl,
.content dt,
.content dd,
.content ol,
.content ul,
.content li,
.content fieldset,
.content form,
.content label,
.content legend,
.content table,
.content caption,
.content tbody,
.content tfoot,
.content thead,
.content tr,
.content th,
.content td,
.content article,
.content aside,
.content canvas,
.content details,
.content embed,
.content figure,
.content figcaption,
.content footer,
.content header,
.content hgroup,
.content menu,
.content nav,
.content output,
.content ruby,
.content section,
.content summary,
.content time,
.content mark,
.content audio,
.content video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
.content article,
.content aside,
.content details,
.content figcaption,
.content figure,
.content footer,
.content header,
.content hgroup,
.content menu,
.content nav,
.content section {
  display: block;
}
.content body {
  line-height: 1;
}
.content ul {
  list-style: none;
}
.content blockquote,
.content q {
  quotes: none;
}
.content blockquote:before,
.content blockquote:after,
.content q:before,
.content q:after {
  content: '';
  content: none;
}
.content table {
  border-collapse: collapse;
  border-spacing: 0;
}
